.myheader {
  text-align: center;
  background-color: lightpink;
  background: url(https://www.google.com/search?q=images&sxsrf=ALeKk03QjEKGqiyq_rHr7Fs3YlBjGuYRPQ:1592467282325&tbm=isch&source=iu&ictx=1&fir=a9B7raWE3PxoBM%253A%252CHARoYW82hsGckM%252C_&vet=1&usg=AI4_-kQH5NUhUkLqBlrZmDD0QRGxx4Vorw&sa=X&ved=2ahUKEwiZurf18orqAhWTwTgGHeXCCIIQ9QEwAnoECAUQNQ#imgrc=a9B7raWE3PxoBM:);
}
.shrish{
  border-radius: 50%;
}
.carousel-item{
  height: 500px;
  text-align: center;
  background-color: aquamarine;
}
.myheader {
  text-align: center;
  background-color: lightpink;
}
.item1{
  background-color: violet;
}
.item2{
  background-color: purple;
}
.item3{
  background-color: red;
}
